.close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
    background: none;
    outline: none;
    border: none;
    font-size: xx-large;
}

.green {
    color: rgb(30, 150, 30);
    font-weight: bold;
}

.help {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: large;

    p {
        text-align: left;
        padding: 0 2rem;
    }
}